.flex {
    display: flex;
    flex-wrap: wrap;
}

#feedBlock{
    /*border: 1px solid brown;*/
}

.book {
    width: 250px;
    padding: 5px;
    margin: 5px ;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}

h3 {
    color: #ff7b0b
}

